@import "~antd/dist/antd.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Allura", cursive;
  font-family: "Lato", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.header-container {
  grid-area: header;
  background-color: #2b2d42;
  color: #bcbedc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem 0 2rem;
}
.header-container .header-logo {
  width: 40%;
  font-size: 40px;
}
.header-container .header-input {
  width: 20%;
}
.header-container .header-input .ant-input-affix-wrapper {
  border-radius: 6px;
}

.main-content-container {
  grid-area: main-content;
  background-color: #edf1f5;
  color: #748899;
}
.main-content-container .main-content-cards-container {
  margin: 2rem;
}
.main-content-container .main-content-cards-container h2 {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0;
  color: #647380;
}
.main-content-container .main-content-cards-container .main-content-card-sub-title {
  display: flex;
  justify-content: space-between;
}
.main-content-container
  .main-content-cards-container
  .main-content-card-sub-title
  .main-content-view-more {
  font-size: 0.9rem;
  color: #647380;
}
.main-content-container .main-content-cards-container .main-content-card-list {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}
.main-content-container .main-content-cards-container .main-content-card {
  width: 200px;
  background: none;
}
.main-content-container .main-content-cards-container .main-content-card .ant-card-body {
  margin: 0.5rem 0 0 0;
  padding: 0;
  font-size: 1rem;
}
.main-content-container .main-content-cards-container .main-content-card .main-content-card-img {
  height: 310px;
}
.popover-container {
  width: 18.3rem;
  margin: 1rem;
}
.popover-licensors-container {
  display: flex;
  justify-content: space-between;
}
.popover-container .popover-genres-container {
  margin-top: 1.6rem;
}
.popover-seasson-and-population-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

.view-more-container {
  margin: 2rem;
}
.view-more-container .view-more-filters-container {
  display: flex;
  justify-content: space-between;
}
.view-more-container .view-more-cards-container {
  padding: 1rem;
}

.footer-container {
  grid-area: footer;
  background-color: #11161d;
  color: #a0b1c5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.general-container {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
  grid-template-rows: 3.5rem 94% 4rem;
  grid-template-columns: 100%;
}

.error-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-404-container .error-404-menssage {
  font-size: 46px;
  font-weight: 400;
}
